body {
    margin: 0;
}

.header {
    height: 102px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Raleway;
    font-weight: 900;
    font-size: 35px;
}

.logo_img {
    width: 129px;
    height: 64.5px;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: Raleway;
    font-weight: 800;
    text-align: center;
}

.menu  {
    font-size: 17px;
    font-style: normal;
    cursor: pointer;
    letter-spacing: 1.275px;
    width: 100%;
    display: flex;
    justify-content: space-between0;
    text-transform: uppercase;
    border-bottom: 4px solid white;
    padding-bottom: 0.6em; 
}

.menu_item:hover {
    border-bottom: 4px solid #4BA87D;
    transition:  0.2s ease-out;
}
/* .menu_item::after {
    border-bottom: 4px solid white;
    padding-bottom: 0.6em; 
    content: '';
} */


.sign {
    border: 4px solid #4BA87D;
    background-color: #4BA87D;
    color: white;
    padding-top: 10px;
    padding-bottom: 11px;
    cursor: pointer;
    
}


.title {
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 59px;
}
  

.sub {
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;

}
.buttons {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

}

.button {
    font-family: Raleway;
    font-weight: 900;
    cursor: pointer;
    font-size: 21px;
    width: 200px;
    padding-top: 19px;
    padding-bottom: 21px;
}


.try, .email_btn {
    border: 4px solid #4BA87D;
    background-color: #4BA87D;
    color: white;
}

.demo, .video_btn, .get_started_btn {
    border: 4px solid #4BA87D;
    background-color: white;
    color: #4BA87D;
}
.video_btn {
    border: none;
}

.contentImg {
    position: absolute;
    left: 40%;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    
}

.content {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 66px;
    align-items: center;
}


.head {
    z-index: 2;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    margin-left: 15%;
    
}
    
.video_section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
    text-align: center;
    background-color: #F7F7F7;
    margin-top: 15%;
}



.video_img {
    z-index: 1;
    max-width: 100%;
    margin-top: 5%;
}

.video_text {
    z-index: 2;
    position: absolute;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 60px;
    color: white;
    text-transform: capitalize;

}

.video_btn {
    z-index: 2; 
    font-family: Raleway;
    font-weight: 900;
    cursor: pointer;
    font-size: 21px;
    width: 200px;
    padding-top: 19px;
    padding-bottom: 21px;
    position: absolute;
    margin-top: 20%;
    text-transform: uppercase;
}

.description {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.description_img {
    width: 100%;
    top: -243px;
    left: 0;
    position: absolute;
    z-index: 0;

}

.description1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 320px;
    height: fit-content;
    font-family: Raleway;
    font-size: 16px;
    margin-top: 50px;
}

.description1_text, .description2_text{
    margin: 0px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 39px;
    padding-top: 24px;
    padding-bottom: 17px;
    background-color: white;
    white-space: pre-line;
}

.description1_link, .description2_link {
    margin: 0px;
    color: #4BA87D;
    font-weight: 800;
    text-transform: capitalize;
    
}

.description1_img, .description2_img {
    max-width: 100%;
}

.description2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 320px;
    height: fit-content;
    font-family: Raleway;
    font-size: 16px;
    margin-top: 130px;
}

.description3 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 360px;
    margin-top: 170px;
}

.description3_title {
    font-size: 44px;
    font-family: Playfair Display;
    font-weight: 900;
    margin: 0px;
}

.description3_subtitle {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
}

.persons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20%;
    font-family: Raleway;
    font-style: normal;
    color: white;
    
}

.person1_title {
    font-weight: 900;
    font-size: 34px;
    position: absolute;
    left: 10%;
    margin-top: -7%;
}

.person1_subtitle {
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    left: 10%;
    margin-top: -4%;
}

.person2_title {
    font-weight: 900;
    font-size: 34px;
    position: absolute;
    left: 40%;
    margin-top: -7%;
}

.person2_subtitle {
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    left: 40%;
    margin-top: -4%;
}
.person3_title {
    font-weight: 900;
    font-size: 34px;
    position: absolute;
    left: 71%;
    margin-top: -7%;
}

.person3_subtitle {
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    left: 71%;
    margin-top: -4%;
}

.person_img {
    max-width: 100%;
}

.email {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .email_enter {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 65px;
    justify-content: center;
    
} 

.email_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    width: 60%;
    text-align: center;
}

.email_input {
    width: 380px;
    margin-right: 27px;
    font-weight: 500;
    font-family: Raleway;
    font-size: 21px;
}

.email_label {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #4BA87D;
    width: 40%;
}

.email_btn {
    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;
    padding-left: 29px;
    padding-right: 30px;
}

.brands {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brands_title, .get_started_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    width: 30%;
    text-align: center;
}

.brands_images {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.brands_img {
    max-width: 100%;
    height: 5%;
}

.get_started {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    background-color: #4BA87D;
    color: white;
}

.get_started_title {
    font-size: 60px;
    width: 60%;
}

.get_started_btn {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    text-transform: uppercase;
    padding-left: 33px;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-right: 30px;
    margin-bottom: 5%;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    font-family: Raleway;
    font-style: normal;
    font-size: 19px;


}

.col1, .col2, .col3, .col4 {
    display: flex;
    flex-direction: column;
    line-height: 27px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    align-items: flex-start;
    margin-bottom: 2%;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_logo_text {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
}

hr {
    width: 80%;
    border: none;
    border-top: 2px solid #DBDBDB;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width:768px){
    .header {
        height: 66px;
        justify-content: space-around;
    }
    .logo_img {
        width: 84px;
        height: 42px;
        margin-right: -15px;
    }
    .logo {
        width:30%;
    }
    .logo_title {
        font-size: 22px;
    }

    .menu_item {
        font-size: 11px;
    }
    .sign {
        font-size: 13px;
    }
    .head {
        max-width: 40%;
        margin-left: 5%;
    }
    .button, .video_btn {
        font-size: 13px;
        width: 131px;
        padding-top: 13px;
        padding-bottom: 14px;
        letter-spacing: 0.65px;
    }
    .title {
        font-size: 38px;
    }
    .sub {
        font-size: 12px;
    }
    .contentImg {
        left: 28%;
        max-width: 69%;
    }
    .video_img {
        max-width: 80%;
    }
    .video_text {
        font-size: 38px;
    }
    .description_img {
        top: -130px;
    }

    .description1_img, .description1  {
        width: 209px;
        margin-top: 10px;
    }
    .description2_img, .description2{
        width: 209px;
        margin-top: 19px;
    }
    .description1_text,  .description2_text {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 25px;
        padding-top: 17px;
    }
    .description3_subtitle, .description1_link, .description2_link {
        font-size: 12px;
    }
    .description3_title {
        font-size: 28px;
    }
    .description3 {
        width: 232px;
        margin-top: 95px;
    }
    .persons {
        margin-top: 8%;
    }
    .person_img {
        max-width: 90%;
    }

}